/* 
Developed by Hero Expert 
Telegram channel: @HeroExpert_ir
*/

html {
  height: 100%;
}

* {
  font-family: 'Tough Love', sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.login-box form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
  width: 100%;
}

.Login-text {
  color: #713dea;
  text-decoration: none;
  font-size: .8rem;
  transition: all 200ms ease;
}

.Login-text:hover {
  color: #b89bf5;
}

.alert-validate::before {
  content: attr(data-validator);
  position: absolute;
  background-color: #fff;
  color: #c80000;
  border: 1px solid #c80000;
  max-width: 70%;
  border-radius: 1rem;
  padding: 4px 25px 4px 8px;
  font-size: .8rem;
  top: 10%;
  right: 8px;
  line-height: 1;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  position: absolute;
  display: block;
  color: #c80000;
  font-size: .9rem;
  top: 15%;
  right: 13px;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #713dea;
  font-size: 12px;
}

.eye-icon-container,
.eye-slash-icon-container {
  position: absolute;
  right: .5rem;
  top: calc(50% - 1.5rem);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  margin: 0 !important;
  color: #b89bf5;
}

/* 
Developed by Hero Expert 
Telegram channel: @HeroExpert_ir
*/

.eye-icon,
.eye-slash-icon {
  font-size: 1.2vw;
  cursor: pointer;
  color: #b89bf5;
  opacity: .1;
  transition: all 100ms ease-in;
}

.eye-icon:hover,
.eye-slash-icon:hover {
  opacity: .2;
}

.show-icon {
  visibility: visible !important;
  opacity: 1 !important;
  z-index: 12 !important;
}

.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #713dea;
  border: none;
  background-color: inherit;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box button:hover {
  background: #713dea;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #713dea,
    0 0 25px #713dea,
    0 0 50px #713dea,
    0 0 100px #713dea;
}

.login-box button span {
  position: absolute;
  display: block;
}

.login-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #713dea);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #713dea);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.login-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #713dea);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.login-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #713dea);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}


/* Start responsive */

@media screen and (max-width: 768px) {

  .eye-icon,
  .eye-slash-icon {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 576px) {
  .login-box {
    width: 320px;
    padding: 25px;
  }

  .login-box form button {
    font-size: 12px;
  }

  .Login-text {
    font-size: 10px;
  }

  .alert-validate::before {
    font-size: .65rem !important;
    top: 15% !important;
  }

  .alert-validate::after {
    top: 17% !important;
  }

  .eye-icon,
  .eye-slash-icon {
    font-size: 3.7vw;
  }
}

/* 
Developed by Hero Expert 
Telegram channel: @HeroExpert_ir
*/