* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: 'IRANYekan', sans-serif;
}

body {
    background-color: #5e5773;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px auto 60px;
    position: relative;
}

.header-div {
    position: relative;
    color: #8356ed;
    font-size: 1vw;
}
.header-title {
    direction: ltr!important;
}

.logOut{
    margin-top: 70px;
    position: absolute;
    font-size: .9vw;
    right: 0;
    padding: 1.5vh 1.5vw;
    border-radius: .5rem;
    background-color: #8356ed;
    color: #fff;
    text-decoration: none;
    transition: all 200ms ease-in;
}

.comeBackBtn {
    direction: ltr!important;
    margin-top: 70px;
    position: absolute;
    font-size: .9vw;
    left: 0;
    padding: 1.5vh 1.5vw;
    border-radius: .5rem;
    background-color: #8356ed;
    color: #fff;
    text-decoration: none;
    transition: all 200ms ease-in;
}

.comeBackBtn:hover, .logOut:hover {
    background-color: #713dea;
}

.table-div {
    margin-top: 0px;
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table {
    border-collapse: collapse;
    width: 100%;
    border-radius: .5rem!important;
    overflow: hidden;
}

tr {
    border-bottom: 1px solid #ccc;
}

.table-body tr:nth-child(2n){
    background-color: #f7f7f7;
}

tr:last-of-type {
    border-bottom: none;
}

.table-body tr:hover {
    cursor: pointer;
    background-color: #e9e9e9!important;
}

.table-header {
    background-color: #36304a;
    color: #fff;
    font-size: .9vw;
}

.table-body tr{
    text-align: center;
    background-color: #fff;
    font-size: .9vw;
}

.preview-img {
    height: 35px;
    width: 35px;
    border-radius: .5rem;
}

.preview-link {
    margin: 0;
    padding: 0;
}

.column1 {
    padding: 2.5vh .2vw;
}

.column2 {
    padding: .5vh 1vw !important;
    max-width: calc(35px + 1vw);
}
.column4 {
    max-width: 6vw;
}

.column5 {
    max-width: 8vw;
}

.Buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.2vh 0;
    position: relative;
}

.preview-icon {
    font-size: 1.5vw;
    color: #36304a;
}
.preview-icon:hover {
    color: #6025e8;
}

.copy-link {
    position: relative;
    border: none;
    outline: none;
    background-color: #713dea;
    padding: 1vh 2vw;
    border-radius: .4rem;
    color: #fff;
    margin-left: 2vw;
    cursor: pointer;
    font-size: .9vw;
    transition: all 200ms ease-in;
}
.copy-link:hover {
    background-color: #8356ed;
}
.file-URL {
    position: absolute;
    z-index: -10000;
    /* visibility: hidden; */
}

.custom-popover {
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    padding: .4rem;
    border-radius: .5rem;
    font-size: .7vw;
}
  

.delete-btn {
    border: none;
    outline: none;
    background-color: #c80000;
    padding: 1vh 1vw;
    border-radius: .4rem;
    color: #fff;
    cursor: pointer;
    font-size: .9vw;
}

.delete-icon, .copy-icon {
    display: none;
}
.d-none {
    display: none;
}
.invisible {
    visibility: none!important;
    opacity: 0;
}
.disabled {
    pointer-events:none;
}
.disabled a {
    color: #5e5773!important;
    background-color: #a786f2;
}

.pr-1 {
    padding-right: .5rem;
}

/* start pagination styles */

.pagination {
    display: flex;
    margin: 2rem auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.page-list {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8356ed;
    border-radius: .5rem;
    overflow: hidden;
}

.page-item {
    list-style-type: none;
}

.page-link {
    text-decoration: none;
    display: block;
    color: #6025e8;
    font-size: .9vw;
    font-weight: 800;
    padding: .5rem .8rem;
    border: 1px solid #8356ed;
    background-color: #bc9fff;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.page-link:hover {
    background-color: #956eef;
    color: #fff;
}

/* finished pagination styles */

/* start animation styles */

.HeroExpert {
    text-decoration: none;
    color: #fff;
    position: relative;
    margin: 0 .2rem;
}

.HeroExpert span {
    position: relative;
    display: inline-block;
    transform: translate3d(0, 0, 0);
}
.HeroExpert span:nth-child(1){
    animation: down 4.2s ease-in-out infinite 1s;
}
.HeroExpert span:nth-child(2) {
    animation: down 4.2s ease-in-out infinite 1.09s;
}
.HeroExpert span:nth-child(3) {
    animation: down 4.2s ease-in-out infinite 1.18s;
}
.HeroExpert span:nth-child(4) {
    animation: down 4.2s ease-in-out infinite 1.27s;
}
.HeroExpert span:nth-child(5) {
    animation: down 4.2s ease-in-out infinite 1.36s;
}
.HeroExpert span:nth-child(6) {
    animation: down 4.2s ease-in-out infinite 1.45s;
}
.HeroExpert span:nth-child(7) {
    animation: down 4.2s ease-in-out infinite 1.54s;
}
.HeroExpert span:nth-child(8) {
    animation: down 4.2s ease-in-out infinite 1.63s;
}
.HeroExpert span:nth-child(9) {
    animation: down 4.2s ease-in-out infinite 1.72s;
}
.HeroExpert span:nth-child(10) {
    animation: down 4.2s ease-in-out infinite 1.81s;
}
.HeroExpert span:nth-child(11) {
    animation: down 4.2s ease-in-out infinite 1.9s;
}
.HeroExpert span:nth-child(12) {
    animation: down 4.2s ease-in-out infinite 1.99s;
}
.HeroExpert span:nth-child(13) {
    animation: down 4.2s ease-in-out infinite 2.08s;
}
.HeroExpert span:nth-child(14) {
    animation: down 4.2s ease-in-out infinite 2.17s;
}
.HeroExpert span:nth-child(15) {
    animation: down 4.2s ease-in-out infinite 2.26s;
}
.HeroExpert span:nth-child(16) {
    animation: down 4.2s ease-in-out infinite 2.35s;
}
.HeroExpert span:nth-child(17) {
    animation: down 4.2s ease-in-out infinite 2.44s;
}
.HeroExpert span:nth-child(18) {
    animation: down 4.2s ease-in-out infinite 2.53s;
}
.HeroExpert span:nth-child(19) {
    animation: down 4.2s ease-in-out infinite 2.62s;
}
.HeroExpert span:nth-child(20) {
    animation: down 4.2s ease-in-out infinite 2.71s;
}
.HeroExpert span:nth-child(21) {
    animation: down 4.2s ease-in-out infinite 2.8s;
}
.HeroExpert span:nth-child(22) {
    animation: down 4.2s ease-in-out infinite 2.89s;
}
.HeroExpert span:nth-child(23) {
    animation: down 4.2s ease-in-out infinite 2.98s;
}
.HeroExpert span:nth-child(24) {
    animation: down 4.2s ease-in-out infinite 3.07s;
}
.HeroExpert span:nth-child(25) {
    animation: down 4.2s ease-in-out infinite 3.16s;
}
.HeroExpert span:nth-child(26) {
    animation: down 4.2s ease-in-out infinite 3.25s;
}
.HeroExpert span:nth-child(27) {
    animation: down 4.2s ease-in-out infinite 3.34s;
}
.HeroExpert span:nth-child(28) {
    animation: down 4.2s ease-in-out infinite 3.43s;
}


@keyframes down {
    0% {
        transform: translate3d(0, 0, 0);
    }
    25% {
        transform: translate3d(0, -15px, 0);
        color: #460cee;
    }
    50% {
        transform: translate3d(0, 0, 0);
        /* color: #fff; */
    }
    100% {
        transform: translate3d(0, 0, 0);
        color: #fff;
    }

}


/* finished animation styles */

/* -------- Start responsive styles ---------- */


@media screen and (max-width: 768px){
    .column1 {
        padding: 2.5vh .6vw;
    }
    .table-body tr {
        font-size: 1.5vw;
    }
    .page-link {
        padding: 1.3vw;
    }
    .header-div{
        font-size: 1.6vw;
    }
}

@media screen and (max-width: 576px) {
    .header {
        margin: 40px auto 70px;
    }
    .header-div {
        font-size: 2.2vw;
    }
    .comeBackBtn, .logOut {
        font-size: 2.5vw;
        padding: .4rem .8rem;
    }
    .table-div {
        padding: 0 3vw;
    }
    .table-body tr, .delete-btn, .copy-link {
        font-size: 2.2vw;
    }
    .copy-link {
        padding: 1vh 1vw!important;
    }
    .table-header {
        font-size: 2.6vw;
    }
    .preview-icon {
        font-size: 2.8vw;
    }
    .table-body .column1 {
        padding: 0 1vw;
    }
    .table-body .column2 {
        padding: 0!important;
        width: calc(20px + 1vw);
    }
    .Buttons {
        padding: 1vh 0;
    }
    .delete-icon, .copy-icon {
        display: block;
        padding: .5vh 1.5vw;
    }
    .delete-btn span, .copy-link span {
        display: none;
    }
    .page-link {
        font-size: 2.4vw;
        padding: 2vw;
    }
    .custom-popover{
        font-size: 2.6vw!important;
    }
}
